.contactsContainer{
    min-width: 200px;
    height: 100%;
    width: 20%;
    border-right: white 1px solid;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.8);
}
.hover-scale{
    transition: all 0.2s ease-in-out;
}
.hover-scale:hover{
    transform: scale(1.1);
    color: blueviolet;
}



.contactsContainer::-webkit-scrollbar {
    width: 5px;
}

.contactsContainer::-webkit-scrollbar-thumb {
    background: #888;
}
.contactsContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.contactsContainer::-webkit-scrollbar-thumb:active {
    background: #555;
}
.contactsContainer::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
}
/*.contactsContainer::-webkit-scrollbar-button:hover {*/
/*    background: #f1f1f1;*/
/*}*/
