.sidebar {

    position: fixed;
    top: 0;
    left: 0;
    /*min-height: 1000px;*/
    height: 100%;
    width: 250px;
    background-color: #020997;
    z-index: 10000;
    transition: background-color,color,width 0.3s ease-in-out;
    overflow: visible;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.sidebarItem{
    text-decoration:none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color, color 0.3s ease-in-out;
    color: white;
    margin: 15px 0;
}

.sidebar-inactive{
    width: 100px;
    overflow: hidden;
}

.sidebarItem:hover{
    color: #020997;
    background-color: #f5f5f5;
}